@import '/styles/variables';
@import '/styles/mixins';

.bgStripe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 160px;
  background-color: $color-bg-primary;

  @include respond-to('lg') {
    height: 192px;
  }
}

.container {
  padding: 0 16px 1rem;
  max-width: 496px;
  margin: 0 auto;

  @include respond-to('lg') {
    padding: 0 0;
    max-width: 1024px;
  }
}

.avatarContainer {
  position: relative;
  width: 144px;
  height: 144px;
  margin: 64px auto 1rem;

  @include respond-to('lg') {
    width: 192px;
    height: 192px;
    margin: 64px 0 1.5rem;
  }
}

.brandContainer {
  width: 100%;
  text-align: center;
  margin-bottom: 3rem;

  & h2 {
    margin-bottom: 0.25rem;
  }

  @include respond-to('lg') {
    text-align: left;
    margin-bottom: 4rem;

    & h2 {
      margin-bottom: 0.375rem;
    }
  }
}

.subtitle {
  font-size: 1.25rem;
  line-height: 2.25rem;
  color: $gray-600;

  @include respond-to('lg') {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.titleContainer {
  width: 100%;
  max-width: 672px;
  margin: 0 auto;
  text-align: center;
}
