@import '/styles/variables';
@import '/styles/mixins';

.mockup {
  position: relative;
  width: 180px;
  height: 360px;
  margin: 0 auto;

  & video {
    display: block;
    position: absolute;
    width: 158px;
    height: 340px;
    left: 11px;
    top: 11px;
    border-radius: 18px;
  }

  @include respond-to('lg') {
    width: 240px;
    height: 480px;

    & video {
      width: 210px;
      height: 452px;
      left: 15px;
      top: 15px;
      border-radius: 22px;
    }
  }
}
