@import '/styles/variables';
@import '/styles/mixins';

.sectionContainer {
  width: 100%;
  padding: 2rem 0;

  @include respond-to('lg') {
    padding: 4rem 0;
  }
}

.sectionLightBg {
  background-color: $color-bg-light;
}

.pageSection {
  max-width: 496px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;

  & h2 {
    margin-bottom: 2rem;
  }

  @include respond-to('lg') {
    max-width: 1024px;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
