@import '/styles/variables';
@import '/styles/mixins';

.visualContent {
  margin-top: 2rem;

  @include respond-to('lg') {
    margin-top: 0;
  }

  .visualElementContainer {
    position: relative;
    width: 320px;
    margin: 0 auto;

    @include respond-to('lg') {
      width: 100%;
    }
  }

  .caption {
    display: block;
    margin-top: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: italic;
    color: $color-text-caption;
    text-align: center;
  }
}

.visualFirst {
  order: -1;
  margin-top: 0;
  margin-bottom: 2rem;

  @include respond-to('lg') {
    order: unset;
    margin-bottom: 0;
  }
}

.visualLeft {
  @include respond-to('lg') {
    order: -1;
  }
}
