@import '/styles/variables';
@import '/styles/mixins';

.visualContent {
  .visualElementContainer {
    width: 320px;
    margin: 0 auto;
    padding-top: 0.5rem;

    @include respond-to('lg') {
      width: 100%;
      padding-top: 0;
    }
  }

  .caption {
    display: block;
    margin-top: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-style: italic;
    color: $color-text-caption;
    text-align: center;
  }
}

.visualLeft {
  @include respond-to('lg') {
    order: -1;
  }
}
