// Color Palette
$navy-blue: #12284a;
$steel-blue: #4c86a8;
$turquoise: #a8ccce;

$gray-900: #171e29;
$gray-600: #5f6a74;
$gray-300: #cbd1d8;

$ice-white: #f9fcff;

// Color - Background
$color-bg-primary: $navy-blue;
$color-bg-light: $ice-white;
$color-bg-banner: $steel-blue;

// Color - Text
$color-text-heading: $navy-blue;
$color-text-body: $gray-900;
$color-text-caption: $gray-600;
$color-text-link: $steel-blue;
$color-text-link--active: $turquoise;

//Breakpoints
$breakpoints: (
  'lg': 1088px,
) !default;
